/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist
/ffi/
.vscode
.venv
examples/hello-world/index.js
examples/hello-world/ps-aud-mul.js
examples/regression/index.js
examples/regression/moo.js
examples/regression/ps-aud-mul.js
examples/midi-in/index.js
examples/midi-in/ps-aud-mul.js
examples/exporter/index.js
examples/exporter/ps-aud-mul.js
examples/dupsplit/index.js
examples/dupsplit/ps-aud-mul.js
examples/audio-worklet/index.js
examples/audio-worklet/ps-aud-mul.js
examples/metronome/index.js
examples/metronome/ps-aud-mul.js
examples/readme/index.js
examples/readme/ps-aud-mul.js
examples/stress0/index.js
examples/stress0/ps-aud-mul.js
examples/koans/index.js
examples/koans/ps-aud-mul.js