/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/dist
/ffi/
.vscode
examples/hello-world/index.js
examples/hello-world/glpk-worker.js
examples/hello-world/glpk-worker.wasm
examples/hello-world/ps-aud-mul.js
examples/metronome/index.js
examples/metronome/glpk-worker.js
examples/metronome/glpk-worker.wasm
examples/metronome/ps-aud-mul.js
